USE [master]
GO
/****** Object:  Database [ChatbotDB]    Script Date: 5/1/2021 2:10:50 PM ******/
CREATE DATABASE [ChatbotDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatbotDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\ChatbotDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatbotDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\ChatbotDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatbotDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatbotDB]
GO
/****** Object:  Table [dbo].[ChatbotTable$]    Script Date: 5/1/2021 2:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotTable$](
	[monitors_no] [nvarchar](255) NULL,
	[measurment] [nvarchar](255) NULL,
	[touchscreen] [nvarchar](255) NULL,
	[category] [nvarchar](255) NULL,
	[portablity_1] [nvarchar](255) NULL,
	[feature_1] [nvarchar](255) NULL,
	[size_1] [nvarchar](255) NULL,
	[feature_2] [nvarchar](255) NULL,
	[feature_3] [nvarchar](255) NULL,
	[portablity_2] [nvarchar](255) NULL,
	[ante/intrapartum] [nvarchar](255) NULL,
	[display_mode] [nvarchar](255) NULL,
	[weights] [nvarchar](255) NULL,
	[feature_4] [nvarchar](255) NULL,
	[invasive_bp] [nvarchar](255) NULL,
	[co2_measurment] [nvarchar](255) NULL,
	[nbp_measurment] [nvarchar](255) NULL,
	[speed] [nvarchar](255) NULL,
	[storage_size] [nvarchar](255) NULL,
	[monitors_name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ChatbotTable$] ([monitors_no], [measurment], [touchscreen], [category], [portablity_1], [feature_1], [size_1], [feature_2], [feature_3], [portablity_2], [ante/intrapartum], [display_mode], [weights], [feature_4], [invasive_bp], [co2_measurment], [nbp_measurment], [speed], [storage_size], [monitors_name]) VALUES (N'1', N'Vitals and ECG', N'true', N'Telemetry', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Intellivue MP5T')
INSERT [dbo].[ChatbotTable$] ([monitors_no], [measurment], [touchscreen], [category], [portablity_1], [feature_1], [size_1], [feature_2], [feature_3], [portablity_2], [ante/intrapartum], [display_mode], [weights], [feature_4], [invasive_bp], [co2_measurment], [nbp_measurment], [speed], [storage_size], [monitors_name]) VALUES (N'2', N'Vitals and ECG', N'true', N'MM cum PM', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Intellivue MMS X2')
INSERT [dbo].[ChatbotTable$] ([monitors_no], [measurment], [touchscreen], [category], [portablity_1], [feature_1], [size_1], [feature_2], [feature_3], [portablity_2], [ante/intrapartum], [display_mode], [weights], [feature_4], [invasive_bp], [co2_measurment], [nbp_measurment], [speed], [storage_size], [monitors_name]) VALUES (N'3', N'Vitals and ECG', N'true', N'EWS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Intellivue guardian solution')
GO
USE [master]
GO
